RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www.shodio.com [NC]
RewriteRule ^(.*)$ http://shodio.com/$1 [L,R=301]

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
#RedirectMatch 301 /about(.*) /?about

<Files .htaccess>
order allow,deny
deny from all
</Files>

Options All -Indexes
