<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{APP_NAME}} - about</title>
  <script src="/lib/jquery-1.5.2.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/lib/mustache.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" href="/lib/jquery-ui-1.8.7.custom/css/custom-theme/jquery-ui-1.8.7.custom.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8">
  <meta name="viewport" content="width=480">
  {{#GOOGLE_ANALYTICS_ID}}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{GOOGLE_ANALYTICS_ID}}']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {{/GOOGLE_ANALYTICS_ID}}
</head>
<body>
  <header>
    <h2>about {{APP_NAME}}</h2>
  </header>
  <figure id="main">
    <p>
      shodio is a shorter way to add things to podio, it stands for <i>short podio</i>.
    </p>
    <p>
      podio is a quite amazing and wonderful product, but i was missing the ability to quickly input new things to it, that is why i created this app. shodio uses the podio api, thus none of the data you enter here will ever be saved in shodio. everythging will be saved to your podio account right away.
    </p>
  </figure>
  <footer>
    <a href="/">home</a><a href="/feedback">feedback</a><a href="/about">about</a><a href="/status">status</a><a href="/help">help</a><a href="/?logout">logout</a><span class="copyright">{{APP_NAME}} is brought you by <a href="http://fabian.mu" target="_blank">fabian.mu</a></span>
  </footer>
</body>
</html>
