<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{APP_NAME}} - Installation</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8">
  {{#GOOGLE_ANALYTICS_ID}}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{GOOGLE_ANALYTICS_ID}}']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {{/GOOGLE_ANALYTICS_ID}}
</head>
<body class="install">
  <header>
    <h2>How to install {{APP_NAME}}</h2>
  </header>
  <p>
    <a href="/shodio.app.zip"><img src="../images/logo.png" width="260" height="129" alt="Logo"></a>
    <span><a href="/shodio.app.zip">Download the Mac-App, unzip it and drag it into your Applications folder.</a></span>
  </p>
  <p>
    <img src="/images/install/1.png" width="804" height="467" alt="1">
    <span>Convert the app to a menu-item</span>
  </p>
  <p>
    <img src="/images/install/2.png" width="827" height="266" alt="2">
    <span>Open the preferences</span>
  </p>
  <p>
    <img src="/images/install/3.png" width="675" height="461" alt="3">
    <span>Open general-settings</span>
  </p>
  <p>
    <img src="/images/install/4.png" width="675" height="484" alt="4">
    <span>Assign a hotkey. I use Command + Shift + R</span>
  </p>
  <footer>
    <a href="/">home</a><a href="/feedback">feedback</a><a href="/about">about</a><a href="/status">status</a><a href="/help">help</a><a href="/?logout">logout</a><span class="copyright">{{APP_NAME}} is brought you by <a href="http://fabian.mu" target="_blank">fabian.mu</a></span>
  </footer>
</body>
</html>
